.historia{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    text-align: center;
    width: 130px;
    height: 35px;
    margin: 20px;
    border-radius: 50px;
    font-size: 13px;
}

.nombre{
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #95989A;
}

.descripcion{
    margin: 20px;
    font-size: 15px;
    color: #95989A;
}

.subText{
    margin: 20px;
    font-size: 25px;
    color: #95989A;
}